# MONGO_URI=mongodb://localhost:27017
MONGO_URI=mongodb+srv://admin:<db-password>@cluster3219.ll0nzkk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster3219
MONGO_DB_NAME=history-service
PORT=5296
